APP_DEBUG=true[APP]DEFAULT_TIMEZONE=Asia/Shanghai[DATABASE]TYPE=mysqlHOSTNAME=127.0.0.1DATABASE=yulinzhihou61USERNAME=rootPASSWORD=Qepyjfnfss1314.HOSTPORT=3306CHARSET=utf8DEBUG=true[REDIS]HOST=127.0.0.1PASS=SELECT=6EXPIRE=3600[JWT]NAME=yulinzhihouAPP_KEY=sdfiqlsi2fjwfj0f10fwefliukh43epkIS_RSA=trueCERT_PATH=certsISS=y.testAUD=y.testEXP=3600[SESSION]EXP=3600[UPLOAD]CDN=https://y.testLOCAL_PATH=uploadsIS_LOCAL=trueIS_WEBP=trueIS_LOCAL_EXISTS=TRUEIS_UPLOAD_CLOUD=false[LANG]DEFAULT_LANG=zh-cn